body {
  font-family: 'Arial', sans-serif; /* Use a modern font */
  background-color: #f5f5f5; /* Light background for better contrast */
  margin: 0;
  display: flex;
}

.page {
  display: flex;
  max-height: 900px;
}

.sidenav {
  width: 250px;
  height: 870px;
  background-color: #d8f1ef; /* White background for the sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
}

.content {
  padding: 20px;
  flex: 1;
  background-color: #ffffff; /* White background for the content */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for content area */
  border-radius: 5px; /* Rounded corners for content area */
  margin-left: 20px; /* Space between sidebar and content */
}

.nav-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Darker color for the header */
}

.nav-item {
  padding: 15px;
  margin: 10px 0; /* Space between items */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  cursor: pointer; /* Pointer cursor for clickable items */
  color: #000000; /* Grey color for the items */
}

.nav-item:hover {
  background-color: #D6A2AD; /* Blue background on hover */
  color: white; /* White text on hover */
}

app-patients-list,
app-doctors-list,
app-appointments-list {
  /* Add any specific styles for your app components here */
  padding: 20px;
}
